.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.image {
  max-height: 50px;
  max-width: 50px;
  border: solid 1px blue;
  border-radius: 10%;
}

th {
  background-color: #04AA6D;
  color: white;
}
